.container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 600px;
}

.container div{
    background: #424242;
    color: white;
    font-size: 40px;
    border-radius: 15px;
    padding: 30px;
}