.box {
  width: 400px;
  height: 400px;
  background-image: url('1200x675_cmsv2_676c53f5-42e0-5c07-8014-f41c37dab7c7-9707741\ \(1\).avif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}