body {
    background-color: #e6f7ff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.card {
    background-color: white;
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 20px;
    border: 3px solid #3399ff;
    box-shadow: 5px 5px 15px gray;
}

h1 {
    color: #0066cc;
    font-size: 36px;
}

p {
    color: #444;
    font-size: 20px;
    margin: 20px 0;
}

button {
    background-color: #3399ff;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 12px;
}