#container {
    /* 1. content (შიგთავსი)
       ეს არის ყუთის ბირთვი, სადაც თავსდება რეალური ტექსტი ან სურათი.
       width და height თვისებებით ჩვენ ვარეგურირებთ სწორედ ამ ნაწილს.
    */
    width: 300px;
    height: 200px;

    /* 2. peding 
       ეს არის თავისუფალი სივრცე შიგთავსსა და ჩარჩო შორის.
    */
    padding: 20px;

    /* 3. border
       ეს არის ხაზი, რომელიც გარს აკრავს პედინგს და კონტენტს.
       მას აქვს სისქე, სტილი და ფერი.
    */
    border: 5px solid black;

    /* 4. MARGIN 
       ეს არის სივრცე ჩარჩოს გარეთ.
    */
    margin: 30px;
}

/* მთლიანი სიგანე გამოითვლება ასე:
   Margin + Border + Padding + Width + Padding + Border + Margin
*/