* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont {
    display: flex;         
    gap: 20px;             
    justify-content: center; 
    padding: 50px;         
}


.box {
    width: 300px;         
    height: 500px;         
    background-color: blue;
}    